<h1>Restaurants</h1>
<h4>List of restaurants:</h4>
<ul>
<% @restaurants.each do |restaurant|%>
<li><%= link_to restaurant.name, restaurant_path(restaurant)%> (<%=restaurant.address %>) =>  Category: <%= restaurant.category%></li>
<%= link_to "Delete", restaurant_path(restaurant),
   method: "delete",
   data: { confirm: "Are you sure?" } %>
<% end %>
</ul>


<h5><%= link_to "+ Add a new restaurant", new_restaurant_path %></h5>
