<h1>Restaurant: <%= @restaurant.name %></h1>


<div class="container">
<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>
<p><strong>Phone:</strong> <%= @restaurant.phone_number %></p>
</div>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path(@restaurant) %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>

<div class="container">
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content%> (<%= review.rating %>)
    <%= link_to "Remove",
      review_path(review),
      method: "delete",
      data: { confirm: "Are you sure?" } %>
    </li>

  <% end %>

</ul>
</div>
